body {
    background-color: black;
    color: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
  
  h1 {
    color: #Ffcc33;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Balboa Extra Black', sans-serif;
  }
  
  h2 {
    color: #F6C90E;
    font-family: 'Balboa Extra Bold', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  }
  
  h3 {
    color: #F6C90E;
    font-family: 'Balboa light', sans-serif;
  }
  
  p {
    line-height: 2;
  }
  
  hr {
    border: dotted #303841 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
  
  a{
    color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  a:hover {
    color: #F6C90E;
  }
  
  .navagation{
    background-color: black;
    width: 100%;
    height: 5vh;
    list-style: none;
    position: fixed;
    top: 0;
    margin: 0 0 0 0;
    padding: 1vh 0 0 0;
  }
  
  .nav{
    width: 40%;
    list-style: none;
    margin: 0 0 0 52vw;
    display: inline-block;
    text-align: right;

  }
  .nav-item{
    text-align: right;
    display: inline-block;
    padding: 0 0 0 0;
    position: relative;
    bottom: 2.6vh;
    width: 8vw;

  }
  #home-link{
    margin: 0;
    display: inline-block;
    text-align: left;
    position: relative;
    bottom: .7vh;
  }
  #icon{
    width: 45px;
  }
  #coin{
    width: 30px;
  }
    

  #title{
    background-image: url(collage.png);
    background-size: 100%;
    height: 100vh;
  }
  .title-text{
    background-color: black;
    color: #F6C90E;
    display: inline-block;
    margin-top: 35vh;
    padding: 0 1% 0 1%;
    border-radius: 3%;
    
  }
  .container{
    height: 80vh;
    background-color: black;
    padding-top: 35vh;
    
  }
  .section{ 
  }
  .dbl-section{
    background-color: #121212;
    width: 40vw;
    text-align: center;
    display: inline-block;
  }
  .film{
    width: 30vw;
  }
  
  footer{
    background-color: #Ffcc33;
    padding: 50px 0 20px;
  }
  
  
  
  .copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  
