body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
  }
  
  h1 {
    color: #Ffcc33;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Balboa Extra Black', sans-serif;
  }
  
  h2 {
    color: #F6C90E;
    font-family: 'Balboa Extra Bold', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    
  }
  
  h3 {
    color: #F6C90E;
    font-family: 'Balboa light', sans-serif;
  }
  
  p {
    line-height: 2;
  }
  
  
  a{
    color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
  }
  
  a:hover {
    color: #F6C90E;
  }
  
  .navbar{
    background-color: black;
    height: 6vh;
    margin: 0%;
  }
  
  .navbar-nav{
    list-style: none;
    text-decoration: none;
    margin-left: 56vw;

  }
  .nav{
    background-color: black;
  }
  .nav-link{
    margin: 0 .6vw;

  }
  #icon{
    width: 45px;
  }
  .coin-container{
    background-image: url("imgs/collage.png");
    height: 50px;
  }
  .coin{
    width: 30px;
  }
    

  #title{
    background-image: url("imgs/collage.png");
    background-size: 100%;
    height: 100vh;
    margin-bottom: 20vh;
  }
  .title-text{
    color: #ffcc33;
    display: inline-block;
    margin-top: 35vh;
    padding: 0 1% 0 1%;
    border-radius: 3%;
    text-shadow: 10px 10px 100px black;
    font-weight: bolder; 
  }
  
  .section{
    width: 100vw;
    height: 80vh;
    padding: 2vh .5vw 0 .5vw;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2.5vh;
  }
  .main-content{
    background-image: url("imgs/imgs/dime-pass-flipped-bw.png");
    color: aliceblue;
  }
  .section-header{
    background-color: black;
    color: #Ffcc33;
    height: 12vh;
    margin: 5%;
    padding: 1%;

  }
  .small-ball{
    width: 35vw;
    position: absolute;
    transform: translateX(-50%) translateY(-10%);
  }
  .sub-title{
    position: absolute;
    transform: translateX(25%) translateY(380%);
    color: #ffcc33;
    text-shadow: 1px 1px 10px black;
    font-weight: bolder;
  }
  .content-text{
    position: absolute;
    transform: translateX(0%) translateY(200%);
    color: white;
    font-size: 0.9rem;
    text-shadow: 0 0 10px black;
    font-weight: bolder;
  }
  .uniqueValue-box{
    background-color: black;
    color: #f7f7f7;
    width: 20vw;
    height: 30vh;
    text-align: center;
  }
  #featured-section{
    margin-top: 20vh;
    margin-bottom: 20vh;
  }
  #featured-collage{
    width: 60vw;
    text-align: center;
    background-image: url(imgs/collage.png);
  }
  #featured-header{
    background-color: black;
    
  }
  #film-container{
    width: 70vw;
    height: 70vh;
    border: white;
    border-style: solid;
    border-width: .5vw;
    
  }
  video{
    border: black;
    border-style: solid;
    border-width: 1.2vw;
  }
  .film{
    width: 60vw;
    margin-top: 1.5vh;
    
  }
  .dime-pass{
    height: 80vh;
    position: static;
    margin-top: 6.8vh;
  }
  .carousel-item{
    width: 20vh;
    height: 20vh;
  }
  
  #footer{
    height: 94vh;
    background-color: #Ffcc33;
    color: #121212;
    padding: 3vh 2vw 0 0;
    margin-top: 0;
  }
  .ball{
    background-image: url(imgs/basketball.png);
  }
  #contact-header{
    color: #121212;
    background-color: none;
    margin: 0;
  }
  .contact-header{
    color: black;
  }
  .bio-section{
    text-align: left;
  }
  
  .bio-photo{
    height: 18vh;
    border-radius: 50%;
  }
  .bio{
    font-size: 0.7rem;
  }
  .footer-link{
    color: black;
  }
  .footer-link:hover {
    color: #121212;
  }
  
  
  .copyright {
    margin-top: 25vh;
    color: #121212;
    font-size: 0.75rem;
  }
  
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #121212;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  
