/* General */
body {
  background-color: yellow;
  color: black;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: bolder;
  background-image: url(text/fullpage.png);
  background-size: 100%;

  background-image: linear-gradient(90deg,
    transparent 79px,
    red 79px,
    red 81px,
    transparent 81px),
    linear-gradient(blue .1em,
      transparent .1em);
  background-size: 100% 2em;
}
  
h1 {
  color: black;
  font-size: 5.625rem;
  font-family: 'Balboa Extra Black', sans-serif;
}

h2 {
  color: black;
  font-family: 'Balboa Extra Bold', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  
}

h3 {
  color: black;
  font-family: 'Balboa light', sans-serif;
}

p {
  line-height: 2;
}


a{
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
}

a:hover {
  color: darkslategrey;
}

/* Section layouts */
.section{
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-size: 100%;
  background-position-x: 0%;
  background-position-y: 0%;

}
.section-heading{
  width: 50vw;
  transform: translateY(0%) translateX(0%);
  
}
.sub-heading{
  width: 50vw;
  transform: translateY(0%) translateX(0%);
}

.section-text{
  font-size: 1.1em;
  text-shadow: 1px 1px 10px black;
  font-weight: bolder;
}
.section-header{
  
}

/* Navagation */
nav{
  background-color: yellow;
}
.navbar{
  background-image: linear-gradient(90deg,
    transparent 79px,
    red 79px,
    red 81px,
    transparent 81px);
  background-size: 100% 2em;
  height: 3.5vw;
}
.navbar-brand-img{
  width: 3vw;
}
#navbarNavDropdown{
padding-left: 69.5vw;
}
.navbar-nav{
text-align: right;
}
.nav-link{

}
.nav-link:hover{
color: darkslategrey;
}
.nav-btn{
  height: 2vh;
}

/* title */
#title{
  padding: 15vh 0 0 0;
}
.title-logo{
  width: 35vw;
  padding: 1vh 0 0 0;
}
.title-text{
  width: 40vw;
}


/* About */
.unique-header{
  padding-left: 0%;
}
.unique-content{
  padding: 5% 0 0 0;
}
.requirements{
  
}
.unique-photo-left{
  transform: rotate(-7deg) translateY(0%) translateX(60%);
  width: 20vw;

}
.unique-photo-right{
  transform: rotate(5deg) translateY(0%) translateX(-60%);
  width: 20vw;
}
.money{
  width: 10vw;
  position: absolute;
  z-index: +1;
}
.num1{
  width: 5vw;
  transform: translateY(0%) translateX(150%);
}
.num2{
  width: 7vw;
  transform: translateY(0%) translateX(150%);
}
.requirement-heading1{
  width: 30vw;
  transform: translateY(-10%) translateX(25%);
}
.requirement-heading2{
  width: 30vw;
  transform: translateY(-10%) translateX(35%);
}

/* Mission */
#mission{
  padding: 20vh 0 0 0;
}
#mission-header{
  color: #f7f7f7;
  text-decoration: none;
  list-style: none;
  
}
.mission-text{
  padding: 2vh 0 2vh 0;
}
#first-line{
  width: 40vw;
  transform: translateY(0%) translateX(25%);
}
#second-line{
  width: 18vw;
  transform: translateY(0%) translateX(100%);
}
#third-line{
  width: 40vw;
  transform: translateY(0%) translateX(75%);
}
#fourth-line{
  width: 40vw;
  transform: translateY(0%) translateX(100%);
}
.mission-photo{
  transform: rotate(4deg) translateY(-200%) translateX(70%);
  position: absolute;
  z-index: +1;
  width: 17vw;
}



.video{
  border: black;
  border-style: solid;
  border-width: 1.2vw;
}
.film{
  width: 60vw;
  height: 60vh;
  
}

/* Impact */
#impact{
  height: 100vh;
  padding-top: 8vh;
  padding-bottom: 20vh;
}
.impact-section-heading{
  width: 30vw;
  transform: translateY(0%) translateX(100%);
}
.impact-container{
  padding: 2vh;
}
.impact-sub-heading{
  width: 20vw;
  transform: translateY(0%) translateX(175%);
}
.impact-photo{
  transform: rotate(-4deg) translateY(10%) translateX(5%);
  width: 27vw;
}
.impact-steps{
  height: 22vh;
}
.impact-heading{
  width: 8vw;
}
.grow-impact-heading{
  width: 5vw;
}
.impact-text{
  width: 25vw;
}

/* Contact */
.contact-heading{
  width: 20vw;
  transform: translateY(20%) translateX(200%);
}
.contact-sub-heading{
  width: 15vw;
  transform: translateY(30%) translateX(285%);
}
.bio-content{
  text-align: right;
  height: 40vh;
  padding: 8vh 0 0 0;
}
.bio-section{
  text-align: left;
}
.bio{
  font-size: 0.7rem;
}
.bio-photo-terrence{
  transform: rotate(4deg);
  padding-top: 3vh;
  width: 21vh;
}
.bio-photo-leykey{
  transform: rotate(-7deg);
  padding-top: 3vh;
  width: 21vh;
}
.bio-photo-kekebeats{
  transform: rotate(5deg);
  padding-top: 3vh;
  width: 21vh;
}
.bio-photo-armani{
  transform: rotate(-2deg);
  padding-top: 3vh;
  width: 21vh;
}
.bio-photo-keandre{
  transform: rotate(-8deg);
  padding-top: 3vh;
  width: 21vh;
}
.bio-photo-kardeisha{
  transform: rotate(+4deg);
  padding-top: 3vh;
  width: 21vh;
}
.bio-photo-andrew{
  transform: rotate(-1deg);
  padding-top: 3vh;
  width: 21vh;
}
.bio-photo-aselis{
  transform: rotate(5deg);
  padding-top: 3vh;
  width: 21vh;
}


/* Footer */

.footer{
  background-image: linear-gradient(90deg,
    transparent 79px,
    red 79px,
    red 81px,
    transparent 81px);
  background-size: 100% 2em;
  height: 5vh;
  padding: 0;
  margin: 0;
}
.footer-brand-img{
  width: 4.5vw;
}
.footer-link{
  color: black;
}
.footer-link:hover {
  color: #121212;
}
.footer-logo{
  height: 2.1vw;
}
.social-container{
  text-align: right;
}
